<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>
      {% block pageTitle %}
        {{ pageTitle }}
      {% endblock %}
    </title>

    {% block style %}
      <link rel="stylesheet" type="text/css" href="{{ css('main.css') }}" />
    {% endblock %}

    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/solid.css"
      integrity="sha384-fZFUEa75TqnWs6kJuLABg1hDDArGv1sOKyoqc7RubztZ1lvSU7BS+rc5mwf1Is5a"
      crossorigin="anonymous" />
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/fontawesome.css"
      integrity="sha384-syoT0d9IcMjfxtHzbJUlNIuL19vD9XQAdOzftC+llPALVSZdxUpVXE0niLOiw/mn"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      {% if errorMessage %}
        {% include 'error.html.twig' %}
      {% endif %}

      {% if username %}
        <div class="row">
          <div class="col">
            <div class="alert alert-primary">
              {{ username }} {{ message }}
            </div>
            <a href="{{ rootFolder }}{{ buttonLink }}"
              class="ml--small btn btn-primary">
              {{ buttonMessage }}
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
