<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OOP Project Movie</title>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ css("main.css") }}">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <a class="navbar-brand" href="{{ root }}">Project <span class="text-uppercase">oop</span> movie</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ root }}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mijn films
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ root }}">Bekeken Films</a>
                    <a class="dropdown-item" href="{{ root }}">Nog te bekijken </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="{{ root }}" tabindex="-1" aria-disabled="true">Nog te bekijken</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aanmelden
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ root }}pages/registrationForm.php">Registreren</a>
                    <a class="dropdown-item" href="{{ root }}pages/loginForm.php">Inloggen</a>
                </div>
            </li>

        </ul>

        {% include 'searchform.html.twig' %}

        {% if session.username %}
            <div class="usernametag">{{ session.username }}</div>
        {% else %}

            <ul class="signuplist">
                <li class="signuplist__item">
                </li>

                <li class="signuplist__item">
                </li>
            </ul>
        {% endif %}


    </div>
</nav>

{% block content %}

{% endblock %}

{% include 'scripts.html.twig' %}

{% include 'footer.html.twig' %}

</body>
</html>