<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block pageTitle %}
            {{ pageTitle }}
        {% endblock %}
    </title>

    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ css("main.css") }}">
    {% endblock %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/solid.css" integrity="sha384-fZFUEa75TqnWs6kJuLABg1hDDArGv1sOKyoqc7RubztZ1lvSU7BS+rc5mwf1Is5a" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/fontawesome.css" integrity="sha384-syoT0d9IcMjfxtHzbJUlNIuL19vD9XQAdOzftC+llPALVSZdxUpVXE0niLOiw/mn" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <a class="navbar-brand" href="{{ root }}">Project <span class="text-uppercase">oop</span> movie</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if session.username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle usernametag text-italic text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted small">username : </span>{{ session.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ root }}cruds/logOffAccount.php">uitloggen</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Aanmelden
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ root }}cruds/showLoginForm.php">Inloggen</a>

                        <a class="dropdown-item" href="{{ root }}cruds/showRegistrationForm.php">Registreren</a>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mijn films
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {#                    <a class="dropdown-item" href="{{ root }}cruds/showWatchlist.php">Mijn Films</a>#}

                    <a class="dropdown-item" href="{{ root }}cruds/showWatchlistToBeWatched.php">Nog te bekijken</a>

                    <a class="dropdown-item" href="{{ root }}cruds/showWatchlistWatched.php">Bekeken Films</a>
                </div>
            </li>
        </ul>
        {% include 'searchform.html.twig' %}
    </div>
</nav>

{% block content %}{% endblock %}

{% include 'scripts.html.twig' %}

{% block customscripts %}{% endblock %}

{% include 'footer.html.twig' %}

</body>
</html>