{% extends 'core.html.twig' %}

{% block content %}

    {% if errorMessage %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="movie">
                        {{ movieInfo }}
                        <img src="{{ Poster }}" alt="" class="movie__img">
                    </div>
                </div>

                <div class="col">
                    <div class="movie">
                        <p class="movie__title">{{ Title }}</p>

                        <p class="movie__rating">{{ Year }}</p>

                        <p> {{ Plot }}</p>
                        <a href="{{ root }}cruds/createWatchlist.php" class="btn btn-primary">Toevoegen aan <i>Mijn Films</i></a>
                    </div>
                </div>

            </div>
        </div>

    {% endif %}

{% endblock %}