{% extends 'core.html.twig' %}

{% block content %}

    {% if Response == 'False' %}

        {% include 'error.html.twig' with errorMessage %}

    {% else %}

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="movie">
                        <img src="{{ Poster }}" alt="" class="movie__img movie__img--searchresult">
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="movie">
                        <p class="movie__title h2">{{ Title }}</p>

                        <p class="movie__rating">{{ Year }}</p>

                        <p> {{ Plot }}</p>
                        <form action="{{ root }}cruds/addToWatchlist.php" method="get">
                            <input type="hidden" name="imdbID" value="{{ imdbID }}">
                            <input type="submit" class="btn btn-primary" value="toevoegen aan 'Mijn Films'">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}